<div class="game_status">
  <% if @game %>
    <div class="game_info">
        <div>
            <h3>Game Number <%= @game.id %></h3>
        </div>
    </div>
  <div class="scores">
    <% if @game.status == "active" %>
        <%= render partial: 'shared/scores' %>
    <% else %>
        Waiting for Opponent
    <% end %>
  </div>
    <%= button_to "Forfeit", forfeit_game_path, class: "button logout_button", :confirm => "Are you sure you want to forfeit?" %>
  <% else %>

  <% end %>
  <%= button_to "Log Out", session_path(session[:id]), class: "button logout_button", method: :delete, :confirm => "Are you sure you want to log out?" %>

</div>