
  <div>
    <%= link_to @game.players.first.username, player_path(@game.players.first) %>
    : <%= @game.playergames.first.score %>
  </div>
  <div>
    <%= link_to @game.players.last.username, player_path(@game.players.last) %>
    : <%= @game.playergames.last.score %>
  </div>