<div id="sidebar">
  <div id="sidebar_top">
      <% if session[:id] %>
        <%= link_to (render partial: 'shared/word_vertical', locals: {word: Player.find(session[:id]).username }), player_path(session[:id]) %>
        <%= render partial: 'shared/game_status' %>

      <% else %>
        <%= render partial: 'shared/word_vertical', locals: { word: "scrabbble" }%>
      <% end %>
  </div>
  <div class="scrabble">
    <% if session[:id] %>
        <%= link_to "Scrabbble", root_path %>
    <% end %>
  </div>
</div>