<div id="sidebar">
  <div id="sidebar_top">
      <% if session[:id] %>
        <%= link_to (render partial: 'shared/word_vertical', locals: {word: @player.username }), player_path(@player) %>
      <% else %>
        <%= render partial: 'shared/word_vertical', locals: { word: "scrabbble" }%>
      <% end %>


    <% if session[:id] %>
        <%= link_to "logout", session_path(session[:id]), method: :delete %>

    <% end %>
  </div>
  <div class="scrabble">
    <% if session[:id] %>
        <%= link_to "Scrabbble", root_path %>
    <% end %>
  </div>
</div>