
<div class="submit_button">
      <%= button_to "Submit", submit_game_path, disabled: !(@game.current_player_id == @player.id), :id => "submit_turn", :class => "button", data: {disable_with: "Submitting..."} %>
</div>
  <div class="tray">
    <table id="tray">
      <tr>
        <% (0..6).each do |tile_index| %>
            <td class="tray_cell">
              <% if @playertiles.length > tile_index %>
                <%= render partial: 'tile', locals: {letter: @playertiles[tile_index].tile.letter, value: @playertiles[tile_index].tile.value, active: true} %>
              <% end %>
            </td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="tray_buttons">
    <div><%= button_to "Shuffle", {}, :class => "button", :id => "shuffle" %></div>
    <div><%= button_to "Reset Letters", {}, :class => "button", :id => "reset" %></div>
  </div>
</div>
