
  <div class="submit_button"><%= button_to "Submit", {}, :id => "submit_button", :class => "button" %></div>
  <div class="tray">
    <table id="tray">
      <tr>
        <% (0..6).each do |tile_index| %>
            <td class="cell">
              <%= render partial: 'tile', locals: {letter: 'Q', value: 9, active: true} %>
            </td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="tray_buttons">
    <div><%= button_to "Shuffle", {}, :class => "button" %></div>
    <div><%= button_to "Reset Letters", {}, :class => "button" %></div>
  </div>
</div>
