<div class="welcome">

    <h1 class="welcome-title">Scrabbble</h1>
    <div class="welcome-motto">
        <h2>Where Q's and Z's are worth 9</h2>
    </div>

    Not already a player?
    <%= link_to "Sign Up", new_player_path, class: "button signup_button"%>
</div>