<div class="game_to_join">
    <h2>Game created by: <%= game.playergames.first.player.username %></h2>
    <h4>Created at: <%= game.created_at %></h4>
    <%= button_to "join game", games_join_path(:game_id => game.id), :method => :post %>
</div>