<div class="games_to_join">
  <h2 class="welcome">Open Games</h2>
  <table class="games_to_join_table">
    <tr>
    <% Game.pending.each_with_index do |game, index| %>
      <% unless game.playergames.first.player.id == session[:id] %>
        <td>
            <%= render partial: "game", locals: {game: game} %>
        </td>
      <% if index.odd? %>
        </tr>
      <% end %>
      <% end %>
    <% end %>
      </tr>
  </table>
</div>