<% if session[:id] %>
    <h1>Welcome <%= @player.username %></h1>
    <%= button_to "create game", games_path, :class => "button", :method => :post%>

    <% if @games %>
          <%= render partial: 'games_to_join' %>
    <% end %>

<% end %>