<% if session[:id] %>
    <h1>Welcome <%= @player.username %></h1>
    <%= link_to "logout", session_path(session[:id]), method: :delete%>
    <%= button_to "create game", games_path, :method => :post%>

    <% if @games %>
          <%= render partial: 'games_to_join' %>
    <% end %>

<% end %>