<table id="board" data-game_id="<%= @game.id %>">
  <% Game.dimension.times do |y| %>
    <tr>
      <% Game.dimension.times do |x| %>
        <%= cell_for(x, y) %>
      <% end %>
    </tr>
  <% end %>
</table>