<% if @player && @player.id %>
    <% if @player.pending_games.length > 0 %>
    <div class="pending_games">
    <h2 class="special_font_small">Pending Games</h2>
      <table class="games_to_join_table">
        <tr>
          <% @player.pending_games.each_with_index do |game, index| %>
              <td>
                <%= link_to (render partial: "games/game", locals: {game: game}), game_path(game) %>

              </td>
              <% if @player.pending_games.length == 1 %>
                  <td class="placeholder"></td>
              <% end %>
              <% if index.odd? %>
                  </tr>
              <% end %>

          <% end %>
          </tr>
      </table>
    </div>
    <% end %>

    <% if @player.active_games.length > 0 %>
    <div class="active_games">
        <h2 class="special_font_small">Active Games</h2>
      <table class="games_to_join_table">
        <tr>
          <% @player.active_games.each_with_index do |game, index| %>
              <td>
                <%= link_to (render partial: "games/game", locals: {game: game}), game_path(game) %>
              </td>
              <% if index.odd? %>
                  </tr>
              <% end %>
              <% if @player.active_games.length == 1 %>
                  <td class="placeholder"></td>
              <% end %>
          <% end %>
          </tr>
       </table>
    </div>
    <% end %>
<% end %>


