<% if @player %>
<h2>Your Games</h2>
<% if @player.pending_games.length > 0 %>
<div class="pending_games">
    <h4>pending games</h4>
    <ul>
      <% @player.pending_games.each do |game| %>
          <li><%= link_to "Created at: #{game.created_at}", game_path(game) %></li>
      <% end %>
    </ul>
</div>
<% end %>

<% if @player.active_games.length > 0 %>
<div class="active_games">
    <h4>active games</h4>
    <ul>
      <% @player.active_games.each do |game| %>
          <li><%= link_to "Created at: #{game.created_at}", game_path(game) %></li>
      <% end %>
    </ul>
</div>
<% end %>
<% end %>