<h2>Games You're In</h2>
<div class="pending_games">
  <h4>pending games</h4>
  <ul>
      <% @player.pending_games.each do |game| %>
          <li><%= link_to "Created at: #{game.created_at}", game_path(game) %></li>
      <% end %>
  </ul>
</div>

<div class="active_games">
  <h4>active games</h4>
  <ul>
      <% @player.active_games.each do |game| %>
          <li><%= link_to "Created at: #{game.created_at}", game_path(game) %></li>
      <% end %>
  </ul>
</div>
