/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */

body {
    font-family: Courier;

}

.container {
    background: rgb(242,214,138); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,214,138,1) 0%, rgba(232,173,102,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,214,138,1)), color-stop(100%,rgba(232,173,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d68a', endColorstr='#e8ad66',GradientType=0 ); /* IE6-9 */
    margin: 0 auto;
    width: 900px;
    padding: 0px 10px 10px 10px;
    border: 12px solid maroon;
    border-radius:2px;
    height:750px;
}

.main {
    margin-left:200px;
    float:right;
}

/*BOARD STUFF*/

#board {
    border:2px solid white;
    border-spacing: 0;
    margin:0;
    padding:0;
}

.borderblack {
    border-spacing: 0;
    border: 3px solid black;
    margin:0;
    padding:0;
}

.borderwhite {
    border-spacing: 0;
    border: 4px solid white;
    /*margin:0;*/
    /*padding:0;*/
    margin-top:10px;
    margin-bottom: 5px;
}

.cell {
    width:38px;
    height:38px;
    border:2px solid white;
}


/*TILE STUFF*/

.tile {
  width: 36px;
  height: 36px;
  background-image:url('tile.png');
  border: 1px solid brown;
  border-radius: 5px;
  color: black;
  font-family: Courier;
  text-align: center;
  position:relative;
  text-shadow: 0px 1px 2px #666;
  /*margin: 5px 0 0 5px;*/
  /*margin: 0;*/
}

.active {
    background-image:url('activetile.png');
}

.tile:hover {
  cursor: hand;
}

.tile-value {
  /*font-size: 2px;*/
    font-size:14px;
    position:absolute;
    top:19px;
    left:27px;
}

.tile-letter {
  /*text-align: center;*/
  font-size: 30px;
    position:absolute;
    bottom:3px;
    left:9px;
}


/*.title-letter {*/
    /*text-align: center;*/
    /*font-size:30px;*/
/*}*/

/*.title-letter p {*/
    /*position:relative;*/
    /*bottom:25px;*/
/*}*/

/*.title-value {*/
    /*font-size:15px;*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
/*}*/










/*TRAY AREA*/

#tray {
  text-align: center;
  margin: 30px;
    margin:0;
    padding:0;
  width: 300px;
  height: 60px;
  background-color: lightgrey;
  border-bottom: 5px solid maroon;
  border-right: 3px solid maroon;
  border-radius: 7px;
}


.tray{
    float:left;
    display:inline;
}

.submit_button {
    float:left;
    display:inline;
    margin: 5px 31px;
}

#submit_button {
    font-size:30px;
}


.tray_buttons {
    float:left;
    display:inline;
    margin-left: 33px;
    text-align: center;
}

.tray_buttons div {
    /*margin:5px auto;*/

}

/*SIDEBAR STUFF*/

#sidebar {
    margin-top:10px;

    height:900px;
    position:fixed;
    float: left;
    /*border:1px solid red;*/
}

#sidebar_top {
    width:200px;
    height:671px;
    /*border: 1px dotted green;*/
}



.scrabble {
    /*margin-top:600px;*/
    font: 400 64px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: black;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.scrabble a {
    color:black;
    text-decoration: none;
}

/*VERTICAL WORD STUFF */

.vertical_word {
    margin: 20px 80px;
}

.letter {
    width:45px;
    height:45px;
    border-top:2px solid black;
    border-right:2px solid black;
    border-left:2px solid black;
    position:relative;
    text-align: center;
}

.letter:last-child
{
    border-bottom:2px solid black;
}

.title-letter {
    text-align: center;
    font-size:30px;
}

.title-letter p {
    position:relative;
    bottom:25px;
}

.title-value {
    /*position:relative;*/
    font-size:15px;
    /*float:right;*/
    position:absolute;
    top:0;
    left:0;
}






/*BUTTON STUFF*/

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2d68a), color-stop(1, #c48d20) );
    background:-moz-linear-gradient( center top, #f2d68a 5%, #c48d20 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2d68a', endColorstr='#c48d20');
    background-color:#f2d68a;
    -webkit-border-top-left-radius:2px;
    -moz-border-radius-topleft:2px;
    border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    -moz-border-radius-topright:2px;
    border-top-right-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    -moz-border-radius-bottomright:2px;
    border-bottom-right-radius:2px;
    -webkit-border-bottom-left-radius:2px;
    -moz-border-radius-bottomleft:2px;
    border-bottom-left-radius:2px;
    text-indent:0px;
    border:0px;
    display:inline-block;
    color:#000000;
    font-family:Georgia;
    font-size:18px;
    /*font-weight:bold;*/
    font-style:normal;


    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #810e05;
}

.button:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c48d20), color-stop(1, #f2d68a) );
background:-moz-linear-gradient( center top, #c48d20 5%, #f2d68a 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c48d20', endColorstr='#f2d68a');
background-color:#c48d20;
    cursor:pointer;
}

.button:active {
position:relative;
top:1px;
}
