/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */

body {


}

.container {
    background: rgb(242,214,138); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,214,138,1) 0%, rgba(232,173,102,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,214,138,1)), color-stop(100%,rgba(232,173,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,214,138,1) 0%,rgba(232,173,102,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d68a', endColorstr='#e8ad66',GradientType=0 ); /* IE6-9 */
    margin: 0 auto;
    width: 900px;
    padding: 0px 10px 10px 10px;
    border: 12px solid maroon;
    border-radius:2px;
    height:720px;
}

.main {
    margin-left:200px;
    float:right;
}

#sidebar {
    width:200px;
    position:fixed;
    float: left;

}

#board {
    border:2px solid white;
    border-spacing: 0;
    margin:0;
    padding:0;
}

.borderblack {
    border-spacing: 0;
    border: 3px solid black;
    margin:0;
    padding:0;
}

.borderwhite {
    border-spacing: 0;
    border: 4px solid white;
    margin:0;
    margin-top:10px;
    margin-bottom: 5px;
    padding:0;

}

.cell {
    width:36px;
    height:36px;
    border:2px solid white;
}

.tile {
  width: 36px;
  height: 36px;
  background-color: BurlyWood;
  border: 1px solid brown;
  border-radius: 5px;
  color: brown;
  font-family: Georgia;
  text-align: center;
  /*margin: 5px 0 0 5px;*/
  /*margin: 0;*/
}

.tile:hover {
  cursor: hand;
}

#tile-value {
  font-size: 2px;
}

#tile-letter {
  text-align: center;
  font-size: 30px;
}

#tray {
  text-align: center;
  margin: 30px;
    margin:0;
    padding:0;
  width: 300px;
  height: 60px;
  background-color: lightgrey;
  border-bottom: 5px solid maroon;
  border-right: 3px solid maroon;
  border-radius: 7px;
}











.letter {
    width:50px;
    height:50px;
    border:2px solid black;
}

.title-letter {
    text-align: center;
    font-size:30px;
}

.title-value {
    font-size:15px;
    float:right;
    position:absolute;
}