/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */

#board {
  float: left;
  border:2px solid brown;
  border-spacing: 0;
}

.cell {
    width:40px;
    height:40px;
    border:1px solid lightblue;
}

.tile {
  width: 40px;
  height: 40px;
  background-color: BurlyWood;
  border: 1px solid brown;
  border-radius: 5px;
  color: brown;
  font-family: Georgia;
  text-align: center;
  /*margin: 5px 0 0 5px;*/
  /*margin: 0;*/
}

./*tile:hover {
  cursor: hand;
}*/

#tile-value {
  font-size: 2px;
}

#tile-letter {
  text-align: center;
  font-size: 30px;
}

#tray {
  text-align: center;
  float: right;
  margin: 30px;
  width: 300px;
  height: 60px;
  background-color: lightgrey;
  border-bottom: 5px solid maroon;
  border-right: 3px solid maroon;
  border-radius: 7px;
}